build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
.pnpm-store

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

.idea/

.tool-versions

coverage/.tmp/
/.next-e2e/
/playwright-report/
/test-results/
coverage/

# Playwright
.next-e2e/
/blob-report/
/playwright/.cache/
